.settings-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
}


.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}