.side-bar-main {
    background-color: #0A6EBD;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}

.side-bar-logo {
    padding: 0 12px;
}

.side-bar-inner {
    margin-top: 30px;
}


.side-bar-inner ul li {
    list-style: none;
    margin: 10px 0;
    width: 100%;
    padding: 10px 0px;
    padding-left: 16px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.side-bar-inner ul {
    padding-left: 0;
}

.side-bar-inner ul li:hover {
    background-color: #084E91;
}